@page "/"

@inherits SvxlinkManager.Dashboard.Pages.IndexBase;

<div>
  <h3>
    Salon Suisse Romand
  </h3>
</div>
<div>
  <audio controls>
    <source src="http://salonsuisseromand.northeurope.cloudapp.azure.com:8000/SalonSuisseRomand" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
</div>

<div class="row node-list">
  <div class="col">
    @foreach (var node in Nodes)
    {
      <Node CurrentNode="@node" />
    }
  </div>
</div>