@page "/"

@inherits SvxlinkManager.Dashboard.Pages.IndexBase;

<div class="d-inline-block">
  <h3>
    Salon Suisse Romand
  </h3>
</div>

<div class="row node-list">
  <div class="col">
    @foreach (var node in Nodes)
    {
      <Node CurrentNode="@node" />
    }
  </div>
</div>